<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.weather">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Weather"
        android:name=".WeatherApplication"
        tools:targetApi="31">

       <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA4T9Fanba8jWxNT_WDP6nO9NZMJucTxgc">
        </meta-data>

        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.WeatherActivity"
            android:exported="true"
            android:launchMode="singleTask"/>

        <activity
            android:name=".ui.activities.HomeActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".ui.activities.ThreeDaysForecastActivity"
            android:exported="true"
            android:launchMode="singleTask"/>

        <activity
            android:name=".ui.activities.MenuActivity"
            android:exported="true"
            android:launchMode="singleTask"/>

        <activity
            android:name=".ui.activities.MapActivity"
            android:exported="true"
            android:launchMode="singleTask"/>

    </application>

</manifest>
